 .sidebar {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 20px;
    width: 100%;
    max-width: 250px; 
    height: 100vh; 
    background: #D0B8A8; 
   padding-bottom: 650px;
    transition: transform 0.3s ease;
   position: fixed;
   margin-top: 0;
   top: 0;
}
.nav-logo {
    height: 60px; 
    width: 60px;/* Set a fixed height for the logo */
    cursor: pointer;
    margin-left: 20px;
    border-radius: 50%;
    margin-top: 0px;
     /* Change the cursor on hover */
}

.sidebar-item {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    margin: 0 20px; 
    padding: 10px 15px;  
    border-radius: 6px;
    background: #F8EDE3;
    gap: 10px; 
    cursor: pointer; 
    
}


.sidebar-item:hover {
    background: #E2CFCF; 
}


@media (max-width: 800px) {
    .sidebar {
        padding: 15px; 
        flex-direction: row;
        width: 100%; 
        max-width: none; 
        height: auto; 
        justify-content: center; 
        position: relative; 
         
    }

    .sidebar-item {
        margin: 0; 
        flex: 1;
        justify-content: center; 
    }
}


@media (max-width: 480px) {
    .sidebar {
        flex-direction: column; 
        height: auto; 
    }

    .sidebar-item {
        padding: 8px 10px; 
        margin: 5px 0; 
    }
} 
 

/* body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.sidebar {
    width: 250px; 
    height: 100vh; 
    background-color: #2c3e50; 
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: fixed; 
    top: 0;
    left: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px; 
    transition: background-color 0.3s; 
}

.sidebar-item img {
    width: 30px; 
    height: 30px;
    margin-right: 10px; 
}

.sidebar-item p {
    color: #ecf0f1;
    font-size: 16px; 
    margin: 0; 
}

.sidebar-item:hover {
    background-color: #34495e; 
    cursor: pointer; 
}


.sidebar-item.active {
    background-color: #007bff;
}

.sidebar-item.active p {
    font-weight: bold; 
} */
