/* General styles */
body {
  font-family: 'Arial', sans-serif;
  background-color:#F8EDE3; /* Light pastry color */
  color: #4a3d3d; /* Dark text color for contrast */
 
}

.orders {
  padding: 20px;
  margin-left: 260px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav-menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.nav-menu li {
  cursor: pointer;
  font-weight: bold;
  color: #58210b; /* Bakery brown color */
  transition: color 0.3s;
}

.nav-menu li:hover {
  color: #ff7f50; /* Coral color on hover */
}

.content {
  margin-top: 20px;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
}

.orders-table th,
.orders-table td {
  padding: 12px;
  border:  1px solid #ddd; /* Soft brown border */
}

.orders-table th {
  background:  #D0B8A8; 
  color: #fff;
  font-size: 1.1em;
}
.orders-table tr{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.status-label {
  padding: 5px 10px; /* More padding for better aesthetics */
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

.status-label.pending {
  background: #ff6347; /* Tomato red for pending */
}

.status-label.shipped {
  background: #ffa500; /* Orange for shipped */
}

.status-label.delivered {
  background: #32cd32; /* Lime green for delivered */
}

.status-label.cancelled {
  background: #808080; /* Grey for cancelled */
}

.table button {
  background-color: #b5651d; /* Bakery brown */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.table button:hover {
  background-color: #ff7f50; /* Coral on hover */
}